<script>
	import { Container } from '@gn-as/web-components';

	import '../app.css';
</script>

<main>
	<Container type="medium">
		<slot />
	</Container>
</main>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
</style>
