<script>
	import { Button, Divider } from '@gn-as/web-components';
	import Heart from 'svelte-material-icons/Heart.svelte';
	import Play from 'svelte-material-icons/Play.svelte';
	import FastForward from 'svelte-material-icons/FastForward.svelte';
	import Rewind from 'svelte-material-icons/Rewind.svelte';
	import Pause from 'svelte-material-icons/Pause.svelte';
	import HeartOutline from 'svelte-material-icons/HeartOutline.svelte';

	let current;
	let play1 = false;
	let play2 = false;

	function toggle1() {
		play1 = !play1;
		play2 = false;
		setTimeout(function () {
			play1 = false;
		}, 5000);
	}

	function toggle2() {
		play2 = !play2;
		play1 = false;
		setTimeout(function () {
			play2 = false;
		}, 5000);
	}
</script>

<header>
	<h1 class="prehead">Practice Stage</h1>
	<div class="progress">
		<label for="file">25%</label>
		<progress id="file" max="100" value="25"> 25% </progress>
	</div>
</header>

<Divider type="striped" size="default" />

<div class="test">
	<h2>Which one sounds better?</h2>
	<div class="choice">
		<div class="option {current === 'one' ? 'selected' : ''}">
			<h3>Option A</h3>
			<div class="play" on:click={toggle1}>
				{#if play1 === true}
					<Pause size="3rem" color="var(--orange)" />
				{:else}
					<Play size="3rem" color="var(--orange)" />
				{/if}
			</div>
			<button
				class={current === 'one' ? 'selected' : 'secondary'}
				on:click={() => (current = 'one')}
			>
				{#if current === 'one'}
					<Heart color="var(--white)" size="2rem" />&nbsp;
				{:else}
					<HeartOutline color="var(--black-t70)" />&nbsp; Like
				{/if}
			</button>
		</div>
		<div class="or">
			<p class="lead text-muted">-or-</p>
			<Button on:click={() => (current = 'same')} secondary size="">About the same</Button>
		</div>
		<div class="option {current === 'two' ? 'selected' : ''}">
			<h3>Option B</h3>
			<div class="play" on:click={toggle2}>
				{#if play2 === true}
					<Pause size="3rem" color="var(--orange)" />
				{:else}
					<Play size="3rem" color="var(--orange)" />
				{/if}
			</div>
			<button
				class={current === 'two' ? 'selected' : 'secondary'}
				on:click={() => (current = 'two')}
			>
				{#if current === 'two'}
					<Heart color="var(--white)" size="2rem" />&nbsp;
				{:else}
					<HeartOutline color="var(--black-t70)" />&nbsp; Like
				{/if}
			</button>
		</div>
	</div>
	<div class="message">
		<p class="text-muted">
			Think you've already found your preference? <a href="stop">Stop learning.</a>
		</p>
	</div>
</div>
<Divider type="striped" size="default" />
<nav>
	<button class="small previous"><Rewind />&nbsp;Previous</button>
	{#if current === undefined}
		<!-- content here -->
		<button class="small next disabled">Next&nbsp;<FastForward /></button>
	{:else}
		<!-- else content here -->
		<button class="small next">Next&nbsp;<FastForward /></button>
	{/if}
</nav>

<style>
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	header h1 {
		margin-bottom: 0;
	}
	.progress {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	.progress label {
		margin: 0;
	}
	.test {
		padding: 0 0 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.test h2 {
		margin: 1rem 0 2rem;
	}
	.choice {
		display: flex;
		gap: 2rem;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0 0 2rem;
	}
	.option {
		padding: 2rem 0 0;
		border: 1px solid var(--warmgray);
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
	}
	.option.selected {
		border: 1px solid var(--orange);
		box-shadow: 0 0 0rem 0.25rem var(--orange);
	}
	.option h3 {
		margin-top: 0;
	}
	.option button {
		margin: 2rem 0 0;
		border-radius: 0;
		width: 100%;
		height: 3.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.or {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.message {
		margin-top: 1rem;
	}
	nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
</style>
