@import '@gn-as/styles/app.css';

button.small {
	padding: 0.5rem 1rem;
	font-size: 0.75rem;
}
button.outline,
.button.outline {
	background-color: var(--white);
	color: var(--orange);
}
button.outline:hover,
.button.outline:hover {
	background-color: var(--warmgray-t20);
	border-color: var(--orange-s90);
	color: var(--orange-s90);
}
button.secondary,
.button.secondary {
	background-color: var(--warmgray-t50);
	border-color: var(--warmgray-t50);
	color: var(--black-t70);
}
button.secondary:hover,
.button.secondary:hover {
	background-color: var(--warmgray-t40);
	border-color: var(--warmgray-t40);
	color: var(--orange);
}
button.secondary.outline,
.button.secondary.outline {
	background-color: var(--warmgray-t20);
	border-color: var(--black-t70);
	color: var(--black-t70);
}
button.secondary.outline:hover,
.button.secondary.outline:hover {
	background-color: var(--white);
	border-color: var(--black-t90);
	color: var(--black-t90);
}
button.disabled,
.button.disabled {
	background-color: var(--orange-t60);
	border-color: var(--orange-t60);
	color: var(--white-a90);
	cursor: not-allowed;
}

button.disabled.outline,
.button.outline {
	background-color: var(--white);
	color: var(--orange-t60);
	border-color: var(--orange-t60);
	cursor: not-allowed;
}
